%article.attachment
  %figure.large-2.columns.file_icon{ class: "#{attachment.try(:file_icon_class)}"}
  %span.large-8.columns{data: {description: "#{attachment.description}"} }= "#{attachment.name}"
