%article.project
  = link_to(image_tag(project.background_image.url(:showcased)), project_path(project))
  %header
    %h2= link_to project.title, project_path(project), itemprop: "relatedLink"
    %p 
      = project.display_byline
