
%section.headline_box

  
  %img{src: "http://lorempixel.com/1000/500/abstract"}
  .mask 

  %div.row
    %div I
    

%main
  .row 
    %section.primary_information
      %meta{ itemprop: "mainContentOfPage", content: "true"} 
      %h2 Personas 
      %hr
      %p
        :markdown
          Personas are an invaluable tool in the arsenal of a modern web designer, and I'm no different. The following are the personas for the @project project.  

          **Note: I'm temporarily displaced; will update this project with more work I can publically disclose after I have time to aquire them. This includes URLs, Photos, Personas, and more.** 

      .list_of_personas_wrapper
        = render partial: 'personas/persona_inside_list', collection: @personas, as: :persona
    %aside.complimentary_information 

      %section.related_projects   
        %h2 Persona-packed Personas  
        %hr
        - # TODO: V1 1.1: Make a collection decorator for these loops 
        - if @persona_packed_projects.any? 
          = render @persona_packed_projects
        - else 
          %p Huh... It seems Personas are sparse on the website at the moment to the extent there's no projects with more than 1 persona.

          %p Probably a bug. Please visit some other time, and this should be fixed. :)  

