.technology
  %figure.technology_logo
    = technology.regular_image

  %header  
    %h3{style: "color: #{technology.color}"}= link_to technology.name, technology_path(technology)
    %p= technology.byline
  %div.technology.color_alias{style: "background-color: #{technology.color}; overflow:hidden;"}

 
