.technology
  %figure.technology_logo
    = link_to image_tag(technology.image.url(:thumbnail)), technology_path(technology)
  %header  
    %h3{style: "color: #{technology.color}"}= link_to technology.name, technology_path(technology)
    %p= technology.byline
  %div.technology.color_alias{style: "background-color: #{technology.color}; overflow:hidden;"}

 
