= title "My skills as a web designer & web developer.".html_safe 

= description "I have the skills to pay the bills, being competent in a variety of in-demand front-end, back-end, marketing, business, and mobile development skills."

.headline_box.skills_page.technology_page
  .mask

%main
  %section.headliner.skillset 
    %div 
      %h1{ data: {"typer-targets" => "I'm a Designer & Developer., I love designing in the browser., I'm  well grounded rubyist, I like to keep myself DRY., I like contionously sharpening my Sass skills., I design responsively., I'm not scared of the console."}}
      :markdown 

        <h2 class="headline_subheader  skillset_subheader"> "Because of my broad skillset, I can be described a variety of ways--a 'generalist', a 'technologist', a front-end developer, a designer that knows how to code, and so on. At the end of the day,  utilizing skills from a variety of disciplines, I'm a problem solver.</h2>   
    
    %section.headline_item
      %div.headline_item_figure
        %span{data: { icon: "c"}, aria: { hidden: "true" }}
      %h2 Front-end Skills
      %ul 
        %li Sass, Compass, & HAML
        %li CoffeeScript and Jasmine 
        %li Angular.js and Backbone 
        %li Chrome Dev Tools
    
    %section.headline_item
      %div.headline_item_figure
        %span{data: { icon: "b"}, aria: { hidden: "true" }} 
      %h2 Back-end Skills 
      %ul 
        %li MongoDB, PostgreSQL, and Basic Redis
        %li PHP, Rails 4, Basic Node.js, Wordpress
        %li BDD & TDD Development  
    %section.headline_item
      %div.headline_item_figure
        %span{data: { icon: "u"}, aria: { hidden: "true" }}
      %h2 Other, complimentary skills
      %ul 
        %li Git verion control & Github.
        %li Basic IOS Development.
        %li Not afraid of the console.
        %li Digital Marketing
  
  %section.tech_skills 
    %technology_container
      %ul.skillset_block
        = render partial: 'technologies/technology_in_list', collection: @technologies, as: :technology
